<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<th:block th:include="utils/header"></th:block>
<body>
    <div class="container" th:switch="${taskList}">
        <h2 th:case="null">No Task added yet</h2>

        <div th:case="*">
            <h2>Tasks</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${taskList}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td>
                        <div class="row justify-content-center">
                            <a class="btn btn-outline-primary" th:href="@{'/task/{id}/edit'(id=${task.id})}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form action="#" th:action="@{'/task/{id}'(id=${task.id})}"
                                  th:method="delete" >
                                <button class="btn btn-outline-danger" type="submit">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/task/new}">Add New</a></p>
    </div>
    <th:block th:include="utils/js_urls"></th:block>
</body>
</html>